In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [4]:
df.shape

(3387, 5)

In [5]:
df['foreign_gross_altered'] = df['foreign_gross']

In [6]:
#removing the commas in the foreign gross column
df['foreign_gross_altered'] = df['foreign_gross_altered'].str.replace(',', '').astype(float)

In [7]:
df['foreign_gross_altered'] = df['foreign_gross_altered'].fillna(0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  3387 non-null   object
 1   studio                 3382 non-null   object
 2   domestic_gross         3359 non-null   float64
 3   foreign_gross          2037 non-null   object
 4   year                   3387 non-null   int64
 5   foreign_gross_altered  3387 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 158.9+ KB

In [9]:
df['domestic_gross_altered'] = df['domestic_gross'].fillna(0)

In [10]:
df['total_gross'] = df['domestic_gross_altered'] + df['foreign_gross_altered']

In [11]:
df['total_gross']

0       1.067000e+09
1       1.025500e+09
2       9.603000e+08
3       8.283000e+08
4       7.526000e+08
            ...
3382    6.200000e+03
3383    4.800000e+03
3384    2.500000e+03
3385    2.400000e+03
3386    1.700000e+03
Name: total_gross, Length: 3387, dtype: float64

In [12]:
df.sort_values('total_gross', ascending=False)

,title,studio,domestic_gross,foreign_gross,year,foreign_gross_altered,domestic_gross_altered,total_gross
727,Marvel's The Avengers,BV,623400000.0,895500000,2012,895500000.0,623400000.0,1.518900e+09
1875,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,946400000.0,459000000.0,1.405400e+09
3080,Black Panther,BV,700100000.0,646900000,2018,646900000.0,700100000.0,1.347000e+09
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011,960500000.0,381000000.0,1.341500e+09
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,712400000.0,620200000.0,1.332600e+09
...,...,...,...,...,...,...,...,...
3078,2:22,Magn.,400.0,NaN,2017,0.0,400.0,4.000000e+02
2756,News From Planet Mars,KL,300.0,NaN,2016,0.0,300.0,3.000000e+02
2757,Satanic,Magn.,300.0,NaN,2016,0.0,300.0,3.000000e+02
2321,The Chambermaid,FM,300.0,NaN,2015,0.0,300.0,3.000000e+02
1476,Storage 24,Magn.,100.0,NaN,2013,0.0,100.0,1.000000e+02

In [13]:
df.corr(method='pearson')

,domestic_gross,year,foreign_gross_altered,domestic_gross_altered,total_gross
domestic_gross,1.000000,0.018708,0.792378,1.000000,0.915130
year,0.018708,1.000000,0.036687,0.020362,0.032217
foreign_gross_altered,0.792378,0.036687,1.000000,0.792259,0.971046
domestic_gross_altered,1.000000,0.020362,0.792259,1.000000,0.915089
total_gross,0.915130,0.032217,0.971046,0.915089,1.000000